.uno{
color: blueviolet;
}
.dos{
color: black;
}
.tres{
color: red;
}
.cuatro{
color: orange;
}
.cinco{
color: orangered;
}
.seis{
color: rgb(82, 124, 20);
}
.siete{
color: blue;
}
.ocho{
color: brown;
}
.nueve{
color: violet;
}
.dies{
color: seagreen;
}