body{
  padding: 0;
  
}
.navbar{
  display: flex;
  float: left;
  background-color: #ef6603;
  width: 100%;
  height: auto;
}
ul{
  display: flex;
  list-style: none;
}
li{
  text-decoration: none;
  float: left;
}
li a{
  text-decoration: none;
  padding: 18px 18px;
  text-align: center;
  margin-left: 18px;
}

.animate__animated{
  text-align: justify;
  font-size: 18px;
  font-weight:400px;
}
.btn-get-started {
  text-decoration: none;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  background: linear-gradient(0deg, rgb(42, 44, 57) 0%, rgb(51, 54, 74) 100%);
  padding: 10;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 70vh;
   
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  width: 80%;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  animation-delay: 0.8s;
  border: 2px solid #ef6603;
}

#hero .btn-get-started:hover {
  background: #ef6603;
  color: #fff;
  text-decoration: none;
}
 

 
 
 

 
 

 
 

 