body{
  padding: 0;
  margin: 0;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: #111;
}

.orario{
  text-align:right;
  background-color: #003349; 
overflow: hidden;
} 
.orario p{
margin-right: 30px;
  font-size: 20px;
  color: #fff;
  

}
.work{
  width: 100%;
  height: 60px;
  text-align: center;
  box-shadow: 0px 0px 2px #333;
}
.work p{
  font-size:32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bolder;
}
  
 
 

 
 

 
 

 