 
 .slider h2{
  color: white;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro semitransparente */
  padding: 10px 20px;
  border-radius: 1px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list{
text-align: center;
font-weight: bold;
color: rgb(0, 77, 182);
border-bottom: 2px solid green;
}

.lista{
width: 80%;
margin: auto;
display: grid;
grid-template-columns: 1fr;
gap:6px;
text-align: center;
background-image: url('https://lagunalawnservice.com/img/galeria11.jpg') ;
background-size:cover;
background-repeat: no-repeat;
background-position: 50%;
}

 .lista p {
color: rgb(7, 177, 140);
text-transform: capitalize;
font-weight: bolder;
font-size: 26px;
}

@media (min-width:600px){
.lista{
grid-template-columns: 1fr 1fr;
}
}
@media (min-width:1024px){
.lista{
grid-template-columns: 1fr 1fr 1fr;
}

}