.tips{
width: 86%;
margin-left: auto;
margin-right: auto;
background: linear-gradient(rgb(15, 112, 7) 1.47% , white 87.47%); 
padding: 20px;
}
.tips .lawn{
text-align: center;
color: rgb(82, 64, 58) ;
font-weight: bold; 
letter-spacing: 1.2px;
border-bottom: 2px solid orange;
border-bottom-width:thin;
}
.tips h2{
text-align: justify;
color: #fff;
text-transform: capitalize;
}
.tips p{
text-align: justify;
text-transform: capitalize;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: brown;
font-size: 20px;
}
.tips .control{
color: green;
}
.nuevo{
color: #008cba;
text-transform: capitalize;
letter-spacing: 1.6px;
}
 